.city-item {
    width: calc((100% - 20px) / 2);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.even {
    background: #fff;
}

strong {
    display: block;
    padding: 1rem 0;
}