.button-large {
  background-color: white;
  font-size: 35px;
  text-decoration: none;
  color: black;
  padding: 25px 35px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-large::after {
  content: url("../../images/arrow.svg");
}

.button-large path {
  transition: fill 0.3s;
}

.button-large:hover path {
  fill: #ff00e9;
}

.news-item a {
  text-decoration: none;
  color: black;
}

.secondary-news .news-item a {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 15px;
}

.event a {
  text-decoration: none;
}
