*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
